.block_aliment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.list_aliment_proposition{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.image_aliment_in_list{
    max-width:100%;
    max-height: 220px;
    min-height: 200px;
}
.grade_aliment_in_list
{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #f4623a;
}
.lien_image_block_aliment{
    padding: 0;
}